<header class="article-header">

  {%- if page.subtext -%}
  <div class="subtext">{{ page.subtext }}</div>
  {%- endif -%}
  
  <h1>{{ page.title }}</h1>
  
  {%- if page.description -%}
  <p>{{ page.description }}</p>
  {%- endif -%}

  {%- if page.layout == 'home' -%}
  <input id="searchfield" type="search" placeholder="Try searching “em dash”" autofocus/>
  {%- else -%}
  <input id="searchfield" type="search" placeholder="Try searching “em dash”"/>
  {%- endif -%}


</header>
