<footer>

  <div class="wrapper">

    <p class="copyright">
      Made with ❤︎ by <a href="https://grayscale.com.hk/website-development-hong-kong/" target="_blank">Grayscale</a>.
    </p>

    <p class="license">
      This style guide is available under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution-NonCommercial 4.0 International License</a>
    </p>
  
  </div>

</footer>
