<header class="page-header">

  <div class="wrapper">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | sort: "order" | default: default_paths -%}
    <a class="title" href="{{ "/" | relative_url }}">
      {%- include logo-grayscale.html -%}
      {{ site.title | escape | remove: "Grayscale" }}
    </a>

    {%- if page_paths -%}
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        Menu
      </label>

      <div class="trigger">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </nav>
    {%- endif -%}

  </div>

</header>
