// Search
input[type='search'] {
  @include textgrid(1.25, 1.5);
  display: block;
  width: 100%;
  padding: 0.25rem 10px;
  border-color: $color-major;
  border-width: 2px;
  border-radius: 0.25rem;

  .main_content & {
    border-color: $color-major--dark;
  }

  &:focus {
    border-color: $color-minor;
    outline: 0;
  }
}

.algolia-autocomplete {
  width: 100%;

  p + & {
    margin-top: 1rem;
  }

  // main box
  .ds-dropdown-menu {
    width: 100%;
    min-width: 0;
    max-width: none;
    border-radius: 0.25rem;
    margin: 0.5rem 0 0;

    &::before {
      border: 0;
    }

    [class^=ds-dataset-] {
      border: 0;
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 1.5rem 0 rgba($color-major--dark, 0.38);
    }
  }

  // Bottom border of each suggestion
  .algolia-docsearch-suggestion {
    border-bottom-color: $color-major;
  }

  // Main category headers
  .algolia-docsearch-suggestion--category-header {
    @include textgrid(0.75, 1.5);
    color: $color-major;
    font-family: $font-heading;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .algolia-docsearch-suggestion--highlight {
    color: $color-major--dark;
    background-color: $color-minor;
  }

  // Highlighted search terms
  .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    // color: $color-major--dark;
    box-shadow: inset 0 -2px 0 0 $color-minor;
  }

  // Highlighted search terms in the main category headers
  .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
    color: $color-major--dark;
    background-color: $color-minor;
  }

  // Currently selected suggestion
  .ds-cursor .algolia-docsearch-suggestion--content {
    // color: #272296;
    background-color: $color-blue;

    &::before {
      background: $color-major;
    }
  }

  // For bigger screens, when displaying results in two columns
  @include breakpoint(medium, up) {
    // Bottom border of each suggestion
    .algolia-docsearch-suggestion {
      border-bottom-color: #7671df;
    }
    // Left column, with secondary category header
    .algolia-docsearch-suggestion--subcategory-column {
      // border-right-color: #7671df;
      // background-color: #F2F2FF;
      font-family: $font-heading;
      color: inherit;
    }
  }
}

