footer {
  color: $color-black;
  font-weight: 300;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  .copyright,
  .license {
    @include textgrid(0.75, 1.5);
    max-width: 100%;
    flex: 1 0 auto;
    margin-bottom: 0.5rem;
  }

  .license {
    @include breakpoint(medium, up) {
      text-align: right;
    }
  }
}
