// pages
article {
  .article-content {

    @include breakpoint(medium, up) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -$spacing-unit--medium;

      > * {
        padding-left: $spacing-unit--medium;
      }

      .menu {
        width: 37%;
      }

      .content {
        width: 63%;
      }
    }

    .menu {
      @include breakpoint(mini) {
        .is-affixed nav {
          position: relative !important;
          top: 0 !important;
          right: 0 !important;
          bottom: 0 !important;
          left: 0 !important;
        }
      }

      @include breakpoint(small) {
        .is-affixed nav {
          position: relative !important;
          top: 0 !important;
          right: 0 !important;
          bottom: 0 !important;
          left: 0 !important;
        }
      }

      .menu_inner {
        will-change: min-height;
      }

      nav {
        padding: 2rem 0 0;
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        will-change: position, transform;

        h2 {
          color: $color-major--dark;
        }

        ul {
          border-left: 2px solid $color-minor;
          padding-left: 18px;
          list-style: none;

          a {
            color: $color-black;

            @include multiple-states {
              color: $color-major;
            }
          }
        }
      }
    }

    .content {
      h2 {
        padding-top: 2rem;
        margin-top: 0;
      }

      ol, ul, table {
        margin: is-typegrid(1rem, 40px) 0;
        padding: 0.75rem 40px;
        border: 1px solid $color-minor;
        border-radius: 0.25rem;
      }

      table {
        border-collapse: separate;
        border-spacing: 0;

        thead {
          th {
            border-bottom: 1px solid $color-minor;
          }
        }

        th, td {
          padding: 0.25rem  10px;
        }
      }
    }
  }
}

// page-front
.home {
  h2 {
    margin-bottom: 1rem;
    
    a {
      &::after {
        content: " →";
      }
    }
  }

}
