<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="view">

      {%- include header.html -%}

      <div class="content-block">
        
        <div class="wrapper">

          <main>
          
            {{ content }}
          
          </main>

        </div>
      
      </div>

      {%- include footer.html -%}

    </div>
  
    {%- if jekyll.environment == 'production' and site.google_analytics -%}
      {%- include google-analytics.html -%}
    {%- endif -%}

    <script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3.3.1/dist/sticky-sidebar.min.js"></script>
    <script src="{{ "/assets/main.js" | relative_url }}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> 
    <script> 
      docsearch({
        apiKey: '9b567d7f2d36b876e639dc89bc31671e', 
        indexName: 'grayscale', 
        inputSelector: '#searchfield',
        {%- if jekyll.environment == 'production' -%}
          debug: false,
        {%- else -%}
          debug: true,
        {%- endif -%}
      }); 
    </script> 

  </body>

</html>
