---
layout: default
---
<article class="article">

  {%- include article-header.html -%}

  <div class="article-content">
    <aside class="menu">
      <div class="menu_inner">
        <nav>
          <h2>Table of contents</h2>
          <ul></ul>
        </nav>
      </div>
    </aside>

    <section class="content">
      {{ content }}
    </section>
  </div>

</article>
