@import 'settings';

html {
  @include font-size-basis;
  word-wrap: break-word;
  box-sizing: border-box;
}

body {
  @include textgrid;
  color: $color-black;
  font-family: $font-content;
  background-color: $color-white;
  overflow-x: hidden;
}

.view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .content-block {
    flex-grow: 1;
    padding-bottom: 3rem;
  }

  > * {
    padding: 1rem 0;

    @include breakpoint(medium, up) {
      padding: 1.25rem 0;
    }
  }
}

.wrapper {
  width: 100%;
  max-width: $content-width - ($spacing-unit * 2);
  padding: 0 $spacing-unit;
  margin: 0 auto;

  @include breakpoint(medium, up) {
    max-width: $content-width - ($spacing-unit--medium * 2);
    padding: 0 $spacing-unit--medium;
  }
}

a {  
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-out;

  @include multiple-states {
    color: $color-major--dark;
  }
}

span, p, ul, ol {
  a {
    color: $color-major;
    border-bottom: 1px solid currentcolor;
  }
}

main {
  h2 {
    @include textgrid(1.25, 1.2);
    color: $color-major;
    margin: 0 0 1.5rem;
  }

  * + h2 {
    margin-top: 2rem;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:last-child {
  margin-bottom: 0;
}

::selection {
  background: $color-major;
  color: $color-white;
}

audio, canvas, img, svg, video {
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6,
address, blockquote, figure, p, ol, ul {
  margin-top: 0;
  margin-bottom: is-typegrid(0.5rem, 20px);
}

li {
  margin-top: 0;
  margin-bottom: is-typegrid(0.25rem, 10px);
}

code {
  @include textgrid;
  background: $color-minor;
  padding: 5px 8px;
  border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

p:empty {
  display: none;
}

hr {
  margin: is-typegrid(0.5rem, 20px) 0;
}


input, textarea, button {
  max-width: 100%;
  padding: 0;
  border: 1px solid currentcolor;
  background: $color-white;
  color: inherit;
  font: inherit;
}

[type='checkbox'], [type='radio'] {
  background: initial;
  cursor: pointer;
}

select {
  color: inherit;
  font: inherit;
}

button, [type='button'], [type='submit'] {
  cursor: pointer;
}
