// @import url('//hello.myfonts.net/count/322183');

@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/lineto-circular-bold.eot');
  src: local('Circular Std'),
       url('/assets/fonts/lineto-circular-bold.eot') format('embedded-opentype'),
       url('/assets/fonts/lineto-circular-bold.woff2') format('woff2'),
       url('/assets/fonts/lineto-circular-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url('/assets/fonts/322183_2_0.eot');
  src: url('/assets/fonts/322183_2_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/322183_2_0.woff2') format('woff2'),
       url('/assets/fonts/322183_2_0.woff') format('woff'),
       url('/assets/fonts/322183_2_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url('/assets/fonts/322183_0_0.eot');
  src: url('/assets/fonts/322183_0_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/322183_0_0.woff2') format('woff2'),
       url('/assets/fonts/322183_0_0.woff') format('woff'),
       url('/assets/fonts/322183_0_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url('/assets/fonts/322183_1_0.eot');
  src: url('/assets/fonts/322183_1_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/322183_1_0.woff2') format('woff2'),
       url('/assets/fonts/322183_1_0.woff') format('woff'),
       url('/assets/fonts/322183_1_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
