.page-header {
  position: relative;
  
  .wrapper {
    display: flex;
    align-items: center;
  }

  .title {
    @include textgrid(1.25, 1.3);
    color: $color-major;
    font-family: $font-heading;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 25px;
    transition: opacity .25s ease-in;

    span {
      width: 1.5rem * $logo-ratio;
      height: 1.5rem;
      margin-right: 10px;
      position: relative;

      svg {
        height: 100%;
      }
    }
    
    @include multiple-states {
      opacity: 0.8;
    }
  }
}

.article-header {
  width: 100%;
  margin: 0 auto 2rem;
  // margin: 0 0 2rem;

  @include breakpoint(medium, up) {
    text-align: center;
    max-width: 680px;
  }

  h1, 
  .subtext {
    @include textgrid(2, 1.2);
    color: $color-major;
    font-family: $font-heading;
    font-weight: 700;
    margin: 0 0 1rem;
    // margin: 0 0 1rem;

    @include breakpoint(medium, up) {
      margin: 0 60px 1rem;
    }
  }

  .subtext + h1 {
    @include textgrid(1.25, 1.2);
    color: $color-minor;
  }

  p {
    @include textgrid(1.25, 1.5);
  }
}
