@import 'settings';

%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gs-proportional {
  @include proportional;
}

.sr-only {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
