.site-nav {
  flex: 1 0 auto;
  text-align: right;

  .nav-trigger {
    display: none;

    &:checked ~ label {
      color: $color-white;
      background: $color-major;
    }

    &:checked ~ .trigger {
      transform: translateY(4rem);

      @include breakpoint(medium, up) {
        transform: translateY(0);
      }
    }
  }
  
  label {
    @include textgrid(0.75, 1.2);
    color: $color-major;
    font-family: $font-heading;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 0.375rem 10px;
    border: 1px solid currentcolor;
    border-radius: 0.25rem;
    
    @include breakpoint(medium, up) {
      display: none;
    }
  }

  .trigger {
    width: 200px;
    border: 1px solid $color-minor;
    border-radius: 0.25rem;
    background: $color-white;
    position: absolute;
    top: 0;
    right: $spacing-unit;
    transform: translateY(-101%);
    transition: transform 0.2s ease-out;
    z-index: 1;

    @include breakpoint(medium, up) {
      width: auto;
      border: 0;
      position: relative;
      top: auto;
      right: auto;
      transform: translateY(0);
      transition: none;
    }

    a {
      color: $color-black;
      display: block;
      padding: 0.25rem;

      @include breakpoint(medium, up) {
        display: inline-block;
      }

      @include multiple-states {
        color: $color-major;
      }
    }
  }
}
